<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js 3</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="app">
      <p>{{ message }}</p>
      <input type="text" v-model="message" value="hogehoge" />
      <br />
      <textarea v-model="message">{{ message }}</textarea>
      <pre>{{ $data  }}</pre>
      <hr />
      <label for="checkbox">{{ checked }}</label>
      <input type="checkbox" id="checkbox" v-model="checked" />
      <hr />
      <label for="red">Red</label>
      <input type="checkbox" id="red" value="red" v-model="colors" />
      <label for="red">Green</label>
      <input type="checkbox" id="green" value="green" v-model="colors" />
      <label for="red">Blue</label>
      <input type="checkbox" id="blue" value="blue" v-model="colors" />
      <p>{{ colors }}</p>
      <hr />
      <input type="radio" id="red" value="red" v-model="color" />
      <label for="red">Red</label>
      <input type="radio" id="green" value="green" v-model="color" />
      <label for="green">Green</label>
      <input type="radio" id="blue" value="blue" v-model="color" />
      <label for="blue">Blue</label>
      <p>{{ color }}</p>
      <hr />
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>Red</option>
        <option>Green</option>
        <option>Blue</option>
      </select>
      <p>{{ selected }}</p>
      <hr />
      <select v-model="selections" multiple>
        <option>Red</option>
        <option>Green</option>
        <option>Blue</option>
      </select>
      <p>{{ selections }}</p>
      <hr />
      <input type="text" v-model.lazy="lazyMessage" />
      <p>{{ lazyMessage }}</p>
      <hr />
      <p>trimなし</p>
      <input type="text" v-model="trimMessage" />
      <p>{{ trimMessage }}</p>
      <br />
      <p>trimあり</p>
      <input type="text" v-model.trim="trimMessage" />
      <p>{{ trimMessage }}</p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/form-binding.js"></script>
  </body>
</html>
