<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js 3</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="app">
      <h2>TODO List</h2>
      <form v-on:submit.prevent>
        <input type="text" v-model="newItem" />
        <button v-on:click="addItem">Add</button>
      </form>
      <ul>
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone" />
          <span v-bind:class="{done: todo.isDone}">{{ todo.item }}</span>
          <button v-on:click="deleteItem(index)">Delete</button>
        </li>
      </ul>
      <pre>{{ $data }}</pre>
      <hr />
      <p v-once>{{ message }}</p>
      <button v-on:click="clickHandler">Click</button>
      <hr />
      <p v-pre>{{ preMessage }}</p>
      <button v-on:click="clickHandler">Click</button>
      <hr />
      <p>{{ htmlMessage }}</p>
      <p v-html="htmlMessage"></p>
      <hr />
      <p v-cloak>{{ cloakMessage }}</p>
      <hr />
      <h2>Mustache</h2>
      <p>{{ textMessage }}</p>
      <h2>v-text</h2>
      <p v-text="textMessage"></p>
      <hr />
      <p>{{ message }}</p>
      <p>{{ number + 1 }}</p>
      <p>{{ message.split('').reverse().join('') }}</p>
      <p>{{ reversedMessage }}</p>
      <p>{{ reversedMessageMethod() }}</p>
      <p>{{ ok ? 'YES' : 'NO' }}</p>
      <hr />
      <a v-bind:href="url">Link1</a>
      <br />
      <a :href="url">Link2</a>
      <hr />
      <p>base price: <input type="text" v-model="basePrice" /></p>
      <p>
        tax included price: <input type="text" v-model="taxIncludedPrice" />
      </p>
      <hr />
      <h2>Computed:</h2>
      <ol>
        <li>{{ computedNumber }}</li>
        <li>{{ computedNumber }}</li>
        <li>{{ computedNumber }}</li>
      </ol>
      <h2>Methods:</h2>
      <ol>
        <li>{{ methodsNumber() }}</li>
        <li>{{ methodsNumber() }}</li>
        <li>{{ methodsNumber() }}</li>
      </ol>
      <hr />
      <p>{{ message }}</p>
      <input type="text" v-model="message" />
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
  </body>
</html>
